<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @representative.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @representative.last_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @representative.state %>
</p>

<p>
  <strong>Party:</strong>
  <%= @representative.party %>
</p>

<p>
  <strong>Office:</strong>
  <%= @representative.office %>
</p>

<p>
  <strong>Email:</strong>
  <%= @representative.email %>
</p>

<%= link_to 'Edit', edit_representative_path(@representative) %> |
<%= link_to 'Back', representatives_path %>
