<p id="notice"><%= notice %></p>

<div class="ui stackable grid" id="menu">
  <div class="two wide column tablet only computer only"></div>
  <div class="twelve wide column">
    <%= render 'menu' %>
  </div>
  <div class="two wide column tablet only computer only"></div>
</div>

<div class="ui stackable grid">
  <div class="two wide column tablet only computer only"></div>
  <div class="two wide column tablet only computer only" id="topic-list">
    <div class="ui vertical text menu">
      <div class="header item">Topics</div>
      <a class="item">
        Gun Violence
      </a>
      <a class="item">
        LGBT
      </a>
      <a class="item">
        Clean Energy
      </a>
      <a class="item">
        ISIS
      </a>
      <a class="item">
        Affordable Healthcare
      </a>
      <a class="item">
        Black Lives Matter
      </a>
      <a class="item">
        Student Debt
      </a>
      <div class="header item">Demonstrations</div>
      <a class="item">
        Berkeley, CA - July 7th
      </a>
      <a class="item">
        Cambridge, MA - July 15th
      </a>
    </div>
  </div>
  <div class="eight wide column" id = "letter-list">
    <table class="ui very basic collapsing celled table">
      <tbody>
        <% @letters.each do |letter| %>
            <tr>
              <td>
                <%= link_to letter do %>
                  <h4 class="ui header">
                    <div class="content">
                      <%= letter.title %>
                      <div class="sub header"><%= letter.subject %>
                    </div>
                    <div class="metadata">
                      <div class="buttons">
                        <button class="ui basic compact tiny button">
                          <i class="caret up icon"></i>
                          445
                        </button>
                        <button class="ui basic compact tiny button">
                          <i class="comments icon"></i>
                          23
                        </button>
                      </div>
                      <div class="tags">
                        <div class="ui label">
                          Gun Violence
                        </div>
                        <div class="ui label">
                          LGBT
                        </div>
                      </div>
                    </div>
                  </h4>
                <% end %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="two wide column tablet only computer only">
    
  </div>
  <div class="two wide column tablet only computer only"></div>
</div>